{{> head }}

    {{> navbar }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h1>Angular Forms</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque tempore ipsum dignissimos exercitationem quasi obcaecati iste molestias architecto, voluptatem voluptate optio incidunt quia dolore qui autem. Necessitatibus deserunt itaque reiciendis?</p>
            </div>
            <div class="col-4">
                <img src="assets/img/angular.png" alt="" class="img-thumbnail">
            </div>
        </div>
    </div>
    
{{> footer }}